.crime-registered-container {
    padding: 20px;
  }
  
  .crime-entries {
    display: flex;
    flex-direction: column;
  }
  
  .crime-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  